
#offcanvas-menu {
  background:rgba(42,42,42,.9);
}

.kratos-cover.kratos-cover_2 {
  background-image:url('/images/background-img/s-572918.jpg');
}

/* @media(max-width:768px) {
  .kratos-cover.kratos-cover_2 {
    background-image:url('/images/background-img/s-572918.jpg');
    }
} */

.photo-background {
  background-color: #dedede;
  /* background:url('/images/bg_small.jpg') no-repeat center center;
  -webkit-background-size:cover;
  background-size:cover; */
}

